<!DOCTYPE html>
<html lang="en">
  <%- include('components/head.ejs') %>
  <body style="background-color: #c1e8ff; color: #190019">
    <!-- Header inclus -->
    <%- include('components/header') %>

    <section id="explorer">
      <div class="card_imge">
        <figure><img src="assets/pictures/HandiNews.png" alt="" /></figure>
      </div>
      <div class="card_texte">
        <h2>L'<span>innovation</span> au Service de l'inclusion</h2>
        <h4>
          <span class="material-icons-outlined display-8 text-warning">
            star_half
          </span>
          Technologie et projets à divers niveau
        </h4>
        <div id="block_categories">
          <div class="categories">
            <div class="bg_bloc">
              <p>Technologies d'Assistance</p>
              <p>
                Des exosquelettes de pointe aux prothèses bioniques contrôlées
                par la pensée, nous décryptons le matériel qui transforme la
                mobilité et l'interaction physique.
              </p>
            </div>
            <div class="bg-warning">
              <span
                class="material-icons-outlined display-6 text-white icon-handicap"
              >
                accessibility
              </span>
            </div>
          </div>
          <div class="categories">
            <div class="bg_bloc">
              <p>Accessibilité Numérique</p>
              <p>
                Le web de demain sera inclusif ou ne sera pas. Nous explorons
                l'IA générative, les lecteurs d'écran innovants et les
                interfaces haptiques pour un numérique sans obstacles.
              </p>
            </div>
            <div class="bg-warning">
              <span
                class="material-icons-outlined display-6 text-white icon-handicap"
              >
                devices
              </span>
            </div>
          </div>

          <div class="categories">
            <div class="bg_bloc">
              <p>Urbanisme Inclusif</p>
              <p>
                Comment la Smart City s'adapte-t-elle au handicap ? Étude des
                solutions de guidage GPS haute précision et des aménagements
                urbains intelligents.
              </p>
            </div>
            <div class="bg-warning">
              <span
                class="material-icons-outlined display-6 text-white icon-handicap"
              >
                location_city
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="videos_youtube">
      <div class="left_bloc">
        <div class="titre">
          <div class="titre_bloc">
            <div class="color-red"></div>
            <h2>HandiTech</h2>
          </div>
          <div class="color-gris"></div>
        </div>
        <figure>
          <img
            src="assets/pictures/conf_handilab.jpg"
            alt="image conférence HandiTech"
          />
        </figure>
        <div class="description">
          <div class="btn_bloc">
            <button class="btn-un">Innovation</button>
            <button class="btn-deux">HandiTech</button>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <h5>Accessibilité</h5>
        </div>
        <div class="description">
          <button class="btn-deux">HandiTech</button>
          <p>
            Lorem ipsum consectetur adipis dolor sit amet consectetur
            adipisicing elit.
          </p>
        </div>
      </div>
      <div class="middle_bloc">
        <div class="titre">
          <hr class="color-red" />
          <h2>HandiTech dans le monde</h2>
          <hr class="color-gris" />
        </div>
        <div id="video-affichage"></div>
      </div>
      <div class="right_bloc">
        <!-- <div class="row" id="videos-container"></div> -->
        <div class="row" id="videos-container">
          <% videos.forEach(video => { %>
          <div class="col-12 video-item" data-id="<%= video.youtubeId %>">
            <div class="thumbnail">
              <img
                src="https://img.youtube.com/vi/<%= video.youtubeId %>/hqdefault.jpg"
                alt="<%= video.title %>"
              />
              <span class="play-icon material-icons-outlined">
                play_circle
              </span>
            </div>

            <div class="video-meta">
              <h6><%= video.title %></h6>
              <div class="videao-detail">
                <p class="author"><%= video.author %></p>
                <p class="date"><%= video.date %></p>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </section>
    <section class="technologies-assistance">
      <div class="titre">
        <div class="titre_bloc">
          <div class="color-red"></div>
          <h2>Technologies d'Assistance</h2>
        </div>
        <div class="color-gris"></div>
      </div>

      <div class="videos-card-ref slider">
        <% videos.forEach(video => { %>
        <div class="video-item-card" data-id="<%= video.youtubeId %>">
          <div class="thumbnail">
            <img
              src="https://img.youtube.com/vi/<%= video.youtubeId %>/hqdefault.jpg"
              alt="<%= video.title %>"
            />
            <span class="play-icon material-icons-outlined">play_circle</span>
          </div>

          <div class="video-meta">
            <h6><%= video.title %></h6>
            <div class="video-detail">
              <p class="author"><%= video.author %></p>
              <p class="date"><%= video.date %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </section>

    <!-- Footer inclus -->
    <%- include('components/footer.ejs') %>

    <script src="assets/js/include.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
